
.divmain{
   
   margin: 0 auto;
  height: 1000px;
  min-width: 800px;
  width: 50%;  
  box-sizing: border-box;
  justify-content: space-between;
  background-color: rgb(235, 233, 233);
  border: 2px solid black;
  border-radius: 90px;
}
.form-element{
padding: 2px;
   margin: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.divcheck{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divchecksub{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.labeltitle{
    font-size: large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divbtn{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
